<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link href="https://cdn.osmbuildings.org/4.1.1/OSMBuildings.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Leaflet App</title>
</head>
<body>
<div id="map"></div>
<div id="coordinates">Selected Coordinates: <span id="selected-coordinates">None</span></div>
<button onclick="navigateToForm()">Get the route to your destination</button>
<button onclick="currentLocation()">Get the current location</button>
<button onclick="navigateToOsm()">OSM Demo</button>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdn.osmbuildings.org/classic/0.2.2b/OSMBuildings-Leaflet.js"></script>

<script>
    var map = L.map('map').setView([29.7708415, 40.0046661], 13,true);
    var marker;

    var open_street_s = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?api_key=hudhud', {
        maxZoom: 19,
        attribution: 'OpenStreetMap Layer © Hudhud.sa'

    });

    var terrain = L.tileLayer("https://rtc-cdn.maptoolkit.net/rtc/toursprung-terrain/{z}/{x}/{y}{ratio}.png?api_key=hudhud", {
        maxZoom: 23,
        attribution: "Terrain Layer © Hudhud.sa",
        });
    var OpenStreetMap_Mapnik = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                maxZoom: 19,


    });

    var osmb = new OSMBuildings(map).load('https://{s}.data.osmbuildings.org/0.2/anonymous/tile/{z}/{x}/{y}.json');

    open_street_s.addTo(map);

    var baseMaps = {
        "OpenStreetMap": open_street_s,
        "Hudhud Terrain": terrain,
        "Satellite": OpenStreetMap_Mapnik,

    };
     var overlayMaps = {
        "OSM Buildings": osmb,
    };

    L.control.layers(baseMaps,overlayMaps ).addTo(map);


    var customIcon = L.icon({
        iconUrl: '{{ url_for("static", filename="images/marker.png") }}',
        iconSize: [32, 32],
        iconAnchor: [16, 32],
    });
    function currentLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var currentLocation = L.latLng(position.coords.latitude, position.coords.longitude);
                updateMarker(currentLocation);
            });
        }
        }




    function updateMarker(latlng) {
        if (!marker) {
            marker = L.marker(latlng, { icon: customIcon }).addTo(map);
        } else {
            marker.setLatLng(latlng);
        }
        document.getElementById('selected-coordinates').innerText = latlng.lat.toFixed(6) + ', ' + latlng.lng.toFixed(6);
    }

    updateMarker({ lat: 31.091125, lng: 31.408324 });

    map.on('click', function(e) {
        var coordinates = e.latlng;
        updateMarker(coordinates);
    });

    function navigateToForm() {
        window.location.href = "/form";
    }
    function navigateToOsm() {
        window.location.href = "/osm";
    }
</script>
</body>
</html>


